.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.textStyle1.light{
  font-family: 'rubik';
  color: #5D4037;
}

.textStyle1.dark{
  color: #d9d9d9;
  font-family: 'rubik';
}

.dateContainer1{
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
  height: 1.5rem;
  position: absolute;
  bottom: 1rem;
}

.subProjectContainer{
  width: 100vw;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.titleContainer2 {
  margin-top: 3.6rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  color: white;
  text-align: center;
  gap: 0.5rem;
}

.text2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.text3 {
  font-size: 1.2rem;
}

.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.subProject1{
  position: relative;
  height: 19.5rem;
  border-radius: 1rem;
  width: 17rem;
  transition: all 0.15s;
}

.subProject1.dark{
  background-color: #222831;
  border: solid #d9d9d9 1px;
}

.subProject1.light{
  border: solid #FBC02D 1px;
  background-color: #FFE0B2;
}

.dark.subProject1:hover{
  transform: scale(1.05);
}

.dark.subProject1:active{
  transform: scale(1);
}

.light.subProject1:hover{
  transform: scale(1.05);
}

.light.subProject1:active{
  transform: scale(1);
}

.projectPictureContainer{
  background-color: rgb(217 217 217);
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  align-items: center;
}

.projectPicture{
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.projectNameContainer{
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.projectDescriptionContainer{
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  padding: 0 0.2rem;
  margin-top: 0.5rem;
}

.viewButtonContainer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.icon{
  height: 90%;
  cursor: pointer;
  transition: all 0.15s;
}

.icon:hover{
  filter: invert(1);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
}

@media only screen and (min-width: 1024px) {
  
}

/*pc*/
@media only screen and (min-width: 1441px) {

  .titleContainer2 {
    grid-template-columns: repeat(2, 35rem);
    justify-content: space-between;
    align-items: start;
  }

  .text3 {
    text-align: right;
    margin-right: 2rem;
    font-size: 1.5rem;
  }

  .text2 {
    text-align: left;
    margin-left: 2rem;
    font-size: 2.5rem;
  }
}
