.blogModalContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 1rem;
  height: 100%;
}

.blogModalContainer.dark{
  background-color: #0b0c10;
}

.blogModalContainer.light{
  background-color: #FFF8E1;
}

body{
}

.backContainer{
  height: 3rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.backContainer.dark{
  background-color: #0b0c10;
}

.backContainer.light{
  background-color: #FFF8E1;
}

.subBackContainer{
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow1{
  height: 100%;
  cursor: pointer;
  transition: all 0.15s;
}

.arrow1.dark{
  filter: invert(0);
}

.arrow1.light{
  filter: invert(1);
}

.arrow1:hover{
  transform: scale(1.1);
}

.blogImageContainer{
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3rem;
}

.blogImage{
  height: 100%;
}

.dayContainer{
  position: absolute;
  top: 17rem;
  height: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subDayContainer{
  height: 100%;
  width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
}

.subDayContainer.dark{
  background-color: #222831;
}

.subDayContainer.light{
  background-color: #FFE0B2;
}

.dayText{
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.dayText.dark{
  color: #D9D9D9;
  font-family: 'rubik';
}

.dayText.light{
  color: #5D4037;
  font-family: 'rubik';
}

.agenda{
  font-size: 1.2rem;
  width: 90%;
  text-align: center;
}

.agenda.dark{
  color: #D9D9D9;
  font-family: 'Space Odyssey', sans-serif;
}

.agenda.light{
  color: #5D4037;
  font-family: 'rubik';
}

.dateTour{
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.dateTour.dark{
  color: #D9D9D9;
  font-family: 'rubik';
}

.dateTour.light{
  color: #5D4037;
  font-family: 'rubik';
}

.paragraphContainer{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.introductionContainer, .expirienceContainer{
  width: 90%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.intro{
  font-size: 1.5rem;
  font-weight: bold;
}

.intro.dark{
  color: #D9D9D9;
  font-family: 'Space Odyssey', sans-serif;
}

.intro.light{
  color: #5D4037;
  font-family: 'rubik';
}

.fontStyle, .experience{
  font-size: 1.2rem;
}

.fontStyle.dark{
  color: #D9D9D9;
  font-family: 'Space Odyssey', sans-serif;
}

.fontStyle.light{
  color: #5D4037;
  font-family: 'rubik';
}

.experience.dark{
  color: #D9D9D9;
  font-family: 'Space Odyssey', sans-serif;
}

.experience.light{
  color: #5D4037;
  font-family: 'rubik';
}

.blogImageContainer1{
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectPicture1{
  height: 9.5rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.textStyle1{
  font-family: "rubik";
}

.subBlogImgContainer{
  border-radius: 1rem;
  width: 18rem;
  height: 13.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subBlogImgContainer.dark{
  background-color: #222831;
}

.subBlogImgContainer.light{
  background-color: #FFE0B2;
}

.blogImg{
  max-width: 100%;
  max-height: 100%;
}

.nextContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.subNextContainer{
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowBack{
  width: 3rem;
  cursor: pointer;
  transition: all 0.15s;
}

.arrowBack:hover{
  transform: scale(1.1);
}

.arrowBack:active{
  transform: scale(1);
}

.blogImg.fade {
  border-radius: 15px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .blogImageContainer{
    overflow: hidden;
  }
  
  .blogImage{
    width: 100%;
    height: auto;
  }

  .dayContainer{
    height: 10rem;
  }

  .subBlogImgContainer{
    width: 26.5rem;
    height: 20rem;
  }
}

  /*laptop*/
@media only screen and (min-width: 1025px) {
  .blogImageContainer{
    overflow: hidden;
  }
  
  .blogImage{
    width: 100%;
    height: auto;
  }

  .subDayContainer{
    height: 8rem;
    width: 70%;
  }

  .agenda{
    width: 70%;
  }

  .dayContainer{
    top: 25rem;
    height: 10rem;
  }

  .blogImageContainer{
    height: 27rem;
  }

  .introductionContainer, .expirienceContainer{
    width: 70%;
  }

  .subBlogImgContainer{
    width: 26rem;
    height: 19.5rem;
  }
}