.subExperienceContainer{
}

.titleContainer3{
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  text-align: center;
}

.educationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.education5{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 90%;
}

.text110{
  font-family: 'Space Odyssey', sans-serif;
}

.subEducationContainer{
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.lineContainer{
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line3{
  height: 100%;
}

.line3.dark{
  border: solid #d9d9d9 1px;
}

.line3.light{
  border: solid #FBC02D 1px;
}

.schoolContainer{
  width: 100%;
  border-radius: 1rem;
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.schoolContainer.dark{
  background-color: #222831;
  border: solid #c5c6c7 1px;
}

.schoolContainer.light{
  background-color: #FFE0B2;
  border:  solid #FBC02D 1px;
}

.circleContainer1{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5rem;
  position: absolute;
  left: -2.69rem;
  top: -0.2rem;
}

.circleContainer1.dark{
  background-color: #d9d9d9;
}

.circleContainer1.light{
  background-color: #FBC02D;
}

.yearContainer{
  text-align: left;
  font-size: 1.2rem;
}

.yearContainer.dark{
  color: #d9d9d9;
  font-family: 'rubik';
}

.yearContainer.light{
  color: #5D4037;
  font-family: 'rubik';
}

.school{
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.school.dark{
  color: #d9d9d9;
  font-family: 'rubik';
}

.school.light{
  color: #5D4037;
  font-family: 'rubik';
}

.aboutSchool.dark{
  color: #d9d9d9;
  font-family: 'rubik';
}

.aboutSchool.light{
  color: #5D4037;
  font-family: 'rubik';
}

.aboutSchool{
  text-align: left;
  font-size: 1.2rem;
}

.linkCert.light{
  color: #FFA726;
}

.linkCert.dark{
  color: #2c81ff;
}

/*tablet*/
@media only screen and (min-width: 601px) {
  .titleContainer3{
    flex-direction: row;
    width: 90%;
  }

  .education5{
    justify-content: left;
  }

  .subExperienceContainer{
    justify-content: center;
    display: flex;
  }
}