.button{
  height: 2.5rem;
  width: 4rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
  font-family: 'Space Odyssey', sans-serif;
}

p{
  font-family: 'Space Odyssey', sans-serif;
}

.button:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.button:active{
  background-color: transparent;
  border: solid white 1px;
  color: white;
  transform: scale(1);
  box-shadow: none;
}

.headerContainer{
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: #0b0c10;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  animation: fadein 1s linear;
}

.subHeaderContainer1{
  display: none;
}

.mobileHeaderContainer{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  animation: fadein 1s linear;
}

.subMobileHeaderContainer{
  height: 3.5;
}

.menubarContainer{
  padding-top: 2px;
  width: 3.125rem;
  height: 3rem;
  cursor: pointer;
}

.line{
  border: solid 0.125rem;
  width: 1.563rem;
  margin-bottom: 0.313rem;
  margin-top: 0.5rem;
  margin-left: 0.563rem;
  border-color: white;
}

.hidden{
  display: none;
}

.change .line:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 0.625rem);
}

.change .line:nth-child(2) {
  opacity: 0;
}

.change .line:nth-child(3) {
  transform: rotate(45deg) translate(-0.438rem, -0.5rem);
}

.subMenubarContainer{
  background-color: rgb(10, 10, 10);
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: navbar 1s linear;
}

.fadeIn{
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: navbar 1s linear;
}

.button2{
  height: 2.5rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
  font-size: 1.2rem;
  font-family: 'Space Odyssey', sans-serif;
  background-color: #0b0c10;
  color: white;
  animation: fadein 1s linear;
}

.button2:hover{
  background-color: white;
  color: black;
}

.button2:active{
  background-color: transparent;
  color: white;
  box-shadow: none;
}

@keyframes fadein {
  from{
    opacity: 0;
  } to{
    opacity: 1;
  }
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-widdth: 1024){
  .button{
    font-size: 1.2rem;
    width: 6rem;
  }

  .mobileHeaderContainer{
    display: flex;
  }

  .subHeaderContainer1{
    display: none;
  }
}

/*tablet*/
@media only screen and (min-width: 1025px){
  .button{
    font-size: 1.2rem;
    width: 8rem;
  }

  .mobileHeaderContainer{
    display: none;
  }

  .subHeaderContainer1{
    display: flex;
  }
}