body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container{
  height: 100vh;
  width: 100%;
}

.homeContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContainer{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogContainer{
  padding-top: 0.1rem;
}

.contactContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark Mode Scrollbar */
.dark ::-webkit-scrollbar {
  width: 10px;
}

.dark ::-webkit-scrollbar-track {
  background: transparent; /* dark background */
}

.dark ::-webkit-scrollbar-thumb {
  background: #d9d9d9; /* light thumb for contrast */
  border-radius: 5px;
  transition: all 0.15s;
}

/* Light Mode Scrollbar */
.light ::-webkit-scrollbar {
  width: 10px;
}

.light ::-webkit-scrollbar-track {
  background: transparent; /* light background */
}

.light ::-webkit-scrollbar-thumb {
  background: #FBC02D; /* golden thumb */
  border-radius: 5px;
  transition: all 0.15s;
}
